.code {
    position: relative;
    width: 100vw;
    height: 58vh;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.321);
    color: greenyellow;
    border: none;
    resize: none;
    outline: none;
    padding: 0px;
}

.under_textarea {
    position: relative;
    top: -0.6vh;
}